input {
    display: block;
    box-sizing: border-box;
    border: 2px solid grey;
}
body{
    background-color: lightseagreen;
    max-width: 1200px;
    margin: 0 auto;
}
.font {
    color: lightcoral;
    font-size: 2rem;
    font-weight: bold;  
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.field{
    height: 600px;
    width: 600px;
    background-color: lightcoral;
    float: right;
    transform: translateX(-100px) translateY(-700px);
    border:  solid grey;
    
    
}
.rectangle {
    background-color: black;
    position: absolute;
}

.square {
    background-color: purple;
    position: absolute
}
.circle {
    background-color: seagreen;
    border-radius: 50%;
    position: absolute
}
.triangle {
    height: 0;
    width: 0;
    position: absolute
}